<div class="container-fluid mt-4 " >
  <div class="row justify-content-center pe-2">
    <div class="col-sm-4 px-2 ">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark left-side " >
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <!-- <svg class="bi me-2" width="40" height="200"><use xlink:href="#bootstrap"></use></svg> -->
          <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
              Orders
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
              Products
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
              Customers
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-sm-8 bg-dark ">
      <div class="card mt-4" style="width: 18rem;">

        <img *ngIf="imgShow" src="{{class_store.logo}}" style="width: 100px ;" class="card-img-top" alt="...">
        <div *ngIf="!imgShow" style="height: 125px ;">  {{ClientName}} thnQ for buying  </div>
        <div class="card-body">
          <h5 class="card-title">{{ClientName}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let card of class_store.branch"class="list-group-item">{{card}}</li>
        </ul>
        <div class="card-body">
        <button class="btn btn-primary" (click)="changeCard()" > add </button>

        </div>
      </div>
    </div>

    <select class="form-select my-3 w-25"  #teams [(ngModel)]="selectedCat"  aria-label="Default select example">
      <option selected  [attr.value]="0">ALL</option>
      <option *ngFor="let cat of categorys" [attr.value]="cat.id">{{cat.name}}</option>
    </select>

    <app-sub-product [selected]="selectedCat" (onCardChangeWant)="onCardChangeWant($event)" (onCardChange)="onCardChange($event) " ></app-sub-product>

<div>{{cardDataArr}}</div>



    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">name</th>
          <th scope="col">price</th>
          <!-- <th scope="col">Handle</th> -->
        </tr>
      </thead>
      <tbody>


        <ng-container *ngFor="let product of cardDataArr ; let i=index " >


          <tr>
            <td>{{product.name|uppercase}}</td>
            <td><img src="{{product.img}}" width="100px" alt=""></td>
            <td>{{product.totPrice |currency:"USD" }}</td>
          </tr>
        </ng-container>

        <tr>
          <td></td>
          <td></td>
          <td> TOTAL {{finallTotPrice |currency:"USD"}}</td>
        </tr>



      </tbody>
    </table>


















    <div class="my-5">

      <input type="text" [(ngModel)]="idCard"  >
      <p>{{idCard|idCard}}</p>

      <input type="text" [(ngModel)]="Card"  >
      <p>{{Card|credit}}</p>

    </div>


  </div>
</div>
